@use "@core/style/helpers";
@use "@core/style/box";
@use "@core/style/variables";

.d-flow-node {
  border: 1px solid helpers.borderColor();
  box-shadow: none;
  text-wrap: nowrap;
  position: relative;
  transition: opacity .25s ease-in-out;

  &__handle {
    border: none !important;
    padding: 1px;
    z-index: -1;
    opacity: 0;
  }

  &__inspection {
    top: 0;
    transform: translateY(-50%);
    padding: variables.$xxs;

    & {
      @include box.box(variables.$primary);
      @include helpers.borderRadius();
      position: absolute;
    }
  }

  &--notReferenced {
    transition: opacity .25s ease-in-out;
    opacity: 0.5 !important;
  }

  &--active {
    box-shadow: 0 0 0 1px rgba(variables.$info, .5);
  }
}