* {
  box-sizing: border-box;
}

html, body {
  background: #030014;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

a {
    text-decoration: none;
  text-decoration-color: transparent !important;

  &:hover {
    text-decoration: underline;
  }
}